Language: Cpp

BasedOnStyle: LLVM
Standard: Cpp11
ColumnLimit: 120
UseTab: ForIndentation
Cpp11BracedListStyle: true
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Attach
IndentCaseLabels: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
SpaceBeforeAssignmentOperators: true
AllowShortFunctionsOnASingleLine: false
AccessModifierOffset: -4
