[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/nlohmann/json
	branch = develop
[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = https://github.com/fmtlib/fmt
	branch = master
[submodule "3rdparty/catch"]
	path = 3rdparty/catch
	url = https://github.com/catchorg/Catch2.git
	branch = master
[submodule "3rdparty/cpr"]
	path = 3rdparty/cpr
	url = https://github.com/whoshuu/cpr
	branch = master
[submodule "3rdparty/asio"]
	path = 3rdparty/asio
	url = https://github.com/chriskohlhoff/asio
	branch = master
[submodule "3rdparty/websocketpp"]
	path = 3rdparty/websocketpp
	url = https://github.com/zaphoyd/websocketpp
	branch = master
