[submodule "3rdparty/cpprestsdk"]
	path = 3rdparty/cpprestsdk
	url = https://github.com/microsoft/cpprestsdk
	branch = master
[submodule "3rdparty/json"]
	path = 3rdparty/json
	url = https://github.com/nlohmann/json
	branch = develop
[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = https://github.com/fmtlib/fmt
	branch = master
[submodule "3rdparty/catch"]
	path = 3rdparty/catch
	url = https://github.com/catchorg/Catch2.git
	branch = master
