[submodule "3rdparty/websocketpp"]
	path = 3rdparty/websocketpp
	url = https://github.com/zaphoyd/websocketpp.git
	branch = master
[submodule "3rdparty/asio"]
	path = 3rdparty/asio
	url = https://github.com/boostorg/asio.git
	branch = master
